.footer {
    width: 100%;
    background:rgba(220, 248, 241, 0.75); 
    padding: 60px 40px; 
    font-family: "Paperlogy", sans-serif;
    
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

/* 상단 로고 영역 */
.footer-top {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-logo {
    width: 50px;
    height: 50px;
}

.footer-title-text {
    font-size: 28px;
    font-weight: 600;
    color: #1c1c1c;
    margin: 0;
}

/* 중단 설명 영역 */
.footer-mid {
    font-size: 16px;
    font-weight: 500;
    color: #8f8f8f;

    margin-bottom: 30px;
}

/* 하단 상세 정보 영역 (Flex wrapping 사용) */
.footer-bottom {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px 40px; 
    font-size: 14px;
}

.info-item {
    display: flex;
    gap: 12px;
}

.value {
    font-weight: 600;
    color: #8f8f8f; 
    white-space: nowrap;
}

.label {
    color: #8a8a8a;
}